<!-- Модальное окно списка авторов книги -->
<div class="modal fade" id="bookAuthorsModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content authors-list-modal">
            <div class="modal-header">
                <h5 class="modal-title">Авторы книги</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body" id="bookAuthorsList">
                <!-- Список авторов загружается через JS -->
            </div>
        </div>
    </div>
</div>