<!-- Модальное окно книги -->
<div class="modal fade" id="bookModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body p-0">
                <div class="book-modal-content" id="bookModalContent">
                    <!-- Контент загружается через JS -->
                </div>
            </div>
        </div>
    </div>
</div>